{% extends "base_template.html" %}

{% block title %}
    Home
{% endblock %}

{% block head %}
    {{ super() }}
<style>.menubar {position:absolute;}</style>
{% endblock %}

{% block content %}
	
	<!-- Start Home -->
	<a class="scroll" id="home"></a>
	<div class="home hero">
		<div class="herowrapper">
			<h1>
				<b>Hi!</b>
				<br>Welcome. This is where I put some of my stuff.
			</h1>
		</div>
		<a href="javascript:void(0);" class="scrolldown">
			<h3>Check out some of my stuff</h3>
			<div data-icon="&#xe017;" class="icon"></div>
		</a>
	</div>
	<!-- End Home -->

	<!-- Start Latest Work Content -->
	<div class="content blockquote main">

		<!-- Start HomePage Section -->
		<div class="section full">
			<h2>Latest Work</h2>

			<ul class="carousel" id="carousellatest">

				<!-- Start Single Block -->
				<li>
					<div class="section block">	
						<img src="../static/img/placeholder_large1.jpg">
						<div class="content">
							<h5>Type Work</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<!-- End Single Block -->

				<!-- Start Single Block -->
				<li>
					<div class="section block">	
						<img src="../static/img/placeholder_large2.jpg">
						<div class="content">
							<h5>Type Work</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<!-- End Single Block -->

				<!-- Start Single Block -->
				<li>
					<div class="section block">	
						<img src="../static/img/placeholder_large3.jpg">
						<div class="content">
							<h5>Type Work</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<!-- End Single Block -->

				<!-- Start Single Block -->
				<li>
					<div class="section block">	
						<img src="../static/img/placeholder_large4.jpg">
						<div class="content">
							<h5>Type Work</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<!-- End Single Block -->

				<!-- Start Single Block -->
				<li>
					<div class="section block">	
						<img src="../static/img/placeholder_large5.jpg">
						<div class="content">
							<h5>Type Work</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<!-- End Single Block -->

				<!-- Start Single Block -->
				<li>
					<div class="section block">	
						<img src="../static/img/placeholder_large1.jpg">
						<div class="content">
							<h5>Type Work</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<!-- End Single Block -->

				<!-- Start Single Block -->
				<li>
					<div class="section block">	
						<img src="../static/img/placeholder_large2.jpg">
						<div class="content">
							<h5>Type Work</h5>
							<h6>illustration/branding</h6>
						</div>
						<div class="hover">
							<a href="#" class="hover content">
								<h2>+</h2>
								<h5>Type Work</h5>
								<h6>illustration/branding</h6>
							</a>
						</div>	
					</div>
				</li>
				<!-- End Single Block -->

			</ul>

		</div>
		<!-- End HomePage Section -->

		<!-- Clear :) -->
		<div class="clear"></div>

		<!-- Clear :) -->
		<div class="clear"></div>

	</div>
	<!-- End Content -->
	
	<!-- Start Team Section Divider -->
	<div class="section divider">
		<h2>Our Team</h2>
		<a class="scroll" id="about"></a>
	</div>
	<!-- End Section Divider -->

	<!-- Start Team Content -->
	<div class="content">

		<!-- Start Main Paragraph -->
		<p class="main dark-gray">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
		<!-- Start Main Paragraph -->
	
		<!-- Start Person Block -->
		<div class="person">
			<div class="image quotefade">
				<img src="../static/img/person2.jpg">
				<div class="quotehover">
					<h5>“You have to do something you’ve never done 
					to have something you’ve never had.”</h5>
					<h6>Elizabeth Franklin</h6>
				</div>
			</div>
			<div class="info">
				<h2>John Doe</h2>
				<h4 class="light-gray">CEO</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				<a href="#" class="socialicon linkedin"></a>
				<a href="#" class="socialicon facebook"></a>
				<a href="#" class="socialicon twitter"></a>
				<a href="#" class="socialicon dribbble"></a>
				<a href="#" class="socialicon pinterest"></a>
			</div>
		</div>
		<!-- Clear :) -->
		<div class="clear"></div>
		<!-- End Person Block -->

	</div>
	<!-- End Content -->

	<!-- Start Contact us Section Divider -->
	<div class="section divider">
		<h2 id="servicestitle">Contact Us</h2>
		<a class="scroll" id="contact"></a>
	</div>
	<!-- End Section Divider -->

	<!-- Start Contact us Content -->
	<div class="content contact">

		<!-- Start Main Paragraph -->
		<p class="main dark-gray">Drop me a line!</p>
		<!-- Start Main Paragraph -->
		
		<label>Name</label><br>
		<input type="text" value="" class="form"><br>
		
		<label>Email</label><br>
		<input type="text" value="" class="form"><br>
		
		<label>Message</label><br>
		<textarea rows="3" class="form"></textarea>



		<!-- Clear :) -->
		<div class="clear"></div>
	</div>
	<!-- End Content -->
	
{% endblock %}