{% extends "base_template.html" %}

{% block title %}
    Personality
{% endblock %}

{% block head %}
    {{ super() }}
   <script src="{{ url_for('static', filename='js/personality.js') }}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

   {% if dataFile != "none" %}
      <script>
          dataToChart({{ dataFile|tojson }});
          dataToDataTab({{ dataFile|tojson }});
      </script>
   {% endif %}

{% endblock %}

{% block content %}

<!-- Start Team Section Divider -->
<div class="section divider">
    <h2>Personality</h2>
    <a class="scroll" id="about"></a>
</div>
<!-- End Section Divider -->

<div class="content" >
     <h5>IBM's machine learning platform (Watson) offers an API that can derive some elements of someone's personality from what this person wrote.
         <br>
         <a href="https://personality-insights-livedemo.mybluemix.net/">More details here.</a>
    </h5>
    <form action = "http://localhost:5000/personality" method = "POST" enctype = "multipart/form-data">
        <div>
            <div class="left-col">
                <h5>To run the analysis, either paste some text:</h5>
                <input name="paragraph_text" id="text_input_field" type="text" name="textField" />
            </div>
            <div class="middle-col">
                <h2 style="text-align:center; line-height:278px">- Or -</h2>
            </div>
            <div class="right-col">
                <h5>Upload a txt file:</h5>
                     <input type = "file" name = "file" id="fileItem"  />
            </div>
        </div>
        <!-- Clear :) -->
            <div class="clear"></div>
        <!-- End Person Block -->

        <div class="input_button">
            <input class="submit" id= "submit" type = "submit" value="Submit" />
        </div>
    </form>
</div>


<div class="content pagewrap" id="col-container">
    <!--only add content if the template received a file from the API-->
    {% if dataFile != "none" %}
    <!--The 3 columns-->
    <div class="left-col" id="bigfive_col">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Data')">Data</button>
          <button class="tablinks" onclick="openCity(event, 'Graph')">Graph</button>
        </div>
        <div class="Data" class="tabcontent">
        </div>
        <div class="Graph" class="tabcontent">
        </div>
    </div>
    <div class="middle-col" id="needs_col">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Data')">Data</button>
          <button class="tablinks" onclick="openCity(event, 'Graph')">Graph</button>
        </div>
        <div class="Data" class="tabcontent">
        </div>
        <div class="Graph" class="tabcontent">
        </div>
    </div>
    <div class="right-col" id="values_col">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'Data')">Data</button>
          <button class="tablinks" onclick="openCity(event, 'Graph')">Graph</button>
        </div>
        <div class="Data" class="tabcontent">
        </div>
        <div class="Graph" class="tabcontent">
        </div>
    </div>
</div>
<div class="content pagewrap">
    <!--For graphs-->

        {% for key, value in dataFile.items() %}
        <canvas id={{key}} width="400px" height="225px"></canvas>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}

