{% extends "base_template.html" %}

{% block title %}
    Personality
{% endblock %}

{% block head %}
{{ super() }}
<!-- Boostrap links -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/personality.js') }}"></script>

<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>


{% endblock %}

{% block content %}

<!-- Start Team Section Divider -->
<div class="section divider">
    <h2>Personality</h2>
    <a class="scroll" id="about"></a>
</div>
<!-- End Section Divider -->

<div class="content" >
     <h5>IBM's machine learning platform (Watson) offers an API that can derive some elements of someone's personality from what this person wrote.
         <br>
         <a href="https://personality-insights-livedemo.mybluemix.net/">More details here.</a>
    </h5>
    {% if error %}
    <div class = "alert alert-danger">
        <strong>Error!</strong> {{ error }}
    </div>
    {% endif %}
    <form method = "POST" enctype = "multipart/form-data">
        <div>
            <div class="left-col">
                <h5>To run the analysis, either paste some text (at least 100 words!):</h5>
                {{ form.freeText(style="height: 150px; width:220px;") }}
            </div>
            <div class="middle-col">
                <h2 style="text-align:center; ">- Or -</h2>
            </div>
            <div class="right-col">
                <h5>Upload a txt file:</h5>
                {{ form.fileField }}
            </div>
        </div>
        <!-- Clear :) -->
            <div class="clear"></div>
        <!-- End Person Block -->

        <div class="input_button">
            <input class="submit" id= "submit" type = "submit" value="Submit" />
        </div>
    </form>
</div>

{% endblock %}

